main{
    img:hover {
        opacity: 0.5 ;
    }
}

.section1{
    margin-top: 10%;
    margin-bottom: 10%;

    #otani{
        font-size: 40px;
        padding-bottom: 5%;
    }
}

.section2{
    margin-bottom: 10%;

    #akamine{
        font-size: 40px;
        padding-bottom: 5%;
    }
}

