body{
    background-color: rgba(83, 237, 83, 0.159);
    padding: 0 10%;
}

$pad: 10%;
section{
    margin: 5% 0;
    display: flex;
    justify-content: center;
    div{
        display: flex;
        align-items: center;
    }        
}

.pic-right{
    img{
    padding-right: $pad;
    height: 400px;
    }
    p{
        line-height: 1.5rem;
    }
}

.pic-left{
    img{
        padding-left: $pad;
        height: 400px;
    }
    p{
        line-height: 1.5rem;
    }
}

.iframeFlex{
    text-align: center;
    margin-bottom: 5%;

    h2{
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
}
<<<<<<< HEAD
=======

// メインページに戻るボタン　スクロールでボタンが出てくる
.btnFlex.hide{
    opacity: 0;
}

.btnFlex{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    transition: all 3s ease;

    button{
        border: none;
        background-color: rgba(83, 237, 83, 0.378);
        font-size: 1.2rem;
        border-radius: 10px;

        a{
            text-decoration: none;
            color: rgb(61, 56, 56);
        }
    }
}
>>>>>>> 5dbc61ceafb92873a68228a80f7a99ef95a9210b
