body{
    background-color: rgba(83, 237, 83, 0.159);
    padding: 0 10%;
}

$pad: 10%;
section{
    margin: 5% 0;
    display: flex;
    justify-content: center;
    div{
        display: flex;
        align-items: center;
    }        
}

.pic-right{
    img{
    padding-right: $pad;
    }
}

.pic-left{
    img{
        padding-left: $pad;
    }
}

.iframeFlex{
    text-align: center;
    margin-bottom: 5%;

    h2{
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
}